{% extends "theheat/includes/navbar.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">SiriusXM: The Heat
                    <small>Last Played</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row (1-4) -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.1.spotify.album_image|length > 0 %}
                        {{ songs.1.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.1.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.1.spotify.artist|length > 0 %}
                        <h5>{{ songs.1.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.1.artist }}</h5>
                    {% endif %}

                    {% if songs.1.spotify.song|length > 0 %}
                        <h5>{{ songs.1.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.1.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.1.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.1.spotify.url|length > 0 %}
                        <a href="{{ songs.1.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.2.spotify.album_image|length > 0 %}
                        {{ songs.2.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.2.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.2.spotify.artist|length > 0 %}
                        <h5>{{ songs.2.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.2.artist }}</h5>
                    {% endif %}

                    {% if songs.2.spotify.song|length > 0 %}
                        <h5>{{ songs.2.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.2.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.2.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.2.spotify.url|length > 0 %}
                        <a href="{{ songs.2.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.3.spotify.album_image|length > 0 %}
                        {{ songs.3.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.3.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.3.spotify.artist|length > 0 %}
                        <h5>{{ songs.3.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.3.artist }}</h5>
                    {% endif %}

                    {% if songs.3.spotify.song|length > 0 %}
                        <h5>{{ songs.3.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.3.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.3.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.3.spotify.url|length > 0 %}
                        <a href="{{ songs.3.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.4.spotify.album_image|length > 0 %}
                        {{ songs.4.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.4.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.4.spotify.artist|length > 0 %}
                        <h5>{{ songs.4.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.4.artist }}</h5>
                    {% endif %}

                    {% if songs.4.spotify.song|length > 0 %}
                        <h5>{{ songs.4.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.4.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.4.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.4.spotify.url|length > 0 %}
                        <a href="{{ songs.4.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row (5-8) -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.5.spotify.album_image|length > 0 %}
                        {{ songs.5.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.5.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.5.spotify.artist|length > 0 %}
                        <h5>{{ songs.5.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.5.artist }}</h5>
                    {% endif %}

                    {% if songs.5.spotify.song|length > 0 %}
                        <h5>{{ songs.5.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.5.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.5.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.5.spotify.url|length > 0 %}
                        <a href="{{ songs.5.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.6.spotify.album_image|length > 0 %}
                        {{ songs.6.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.6.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.6.spotify.artist|length > 0 %}
                        <h5>{{ songs.6.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.6.artist }}</h5>
                    {% endif %}

                    {% if songs.6.spotify.song|length > 0 %}
                        <h5>{{ songs.6.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.6.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.6.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.6.spotify.url|length > 0 %}
                        <a href="{{ songs.6.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.7.spotify.album_image|length > 0 %}
                        {{ songs.7.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.7.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.7.spotify.artist|length > 0 %}
                        <h5>{{ songs.7.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.7.artist }}</h5>
                    {% endif %}

                    {% if songs.7.spotify.song|length > 0 %}
                        <h5>{{ songs.7.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.7.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.7.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.7.spotify.url|length > 0 %}
                        <a href="{{ songs.7.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.8.spotify.album_image|length > 0 %}
                        {{ songs.8.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.8.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.8.spotify.artist|length > 0 %}
                        <h5>{{ songs.8.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.8.artist }}</h5>
                    {% endif %}

                    {% if songs.8.spotify.song|length > 0 %}
                        <h5>{{ songs.8.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.8.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.8.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.8.spotify.url|length > 0 %}
                        <a href="{{ songs.8.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row (9-12) -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.9.spotify.album_image|length > 0 %}
                        {{ songs.9.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.9.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.9.spotify.artist|length > 0 %}
                        <h5>{{ songs.9.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.9.artist }}</h5>
                    {% endif %}

                    {% if songs.9.spotify.song|length > 0 %}
                        <h5>{{ songs.9.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.9.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.9.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.9.spotify.url|length > 0 %}
                        <a href="{{ songs.9.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.10.spotify.album_image|length > 0 %}
                        {{ songs.10.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.10.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.10.spotify.artist|length > 0 %}
                        <h5>{{ songs.10.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.10.artist }}</h5>
                    {% endif %}

                    {% if songs.10.spotify.song|length > 0 %}
                        <h5>{{ songs.10.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.10.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.10.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.10.spotify.url|length > 0 %}
                        <a href="{{ songs.10.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.11.spotify.album_image|length > 0 %}
                        {{ songs.11.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.11.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.11.spotify.artist|length > 0 %}
                        <h5>{{ songs.11.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.11.artist }}</h5>
                    {% endif %}

                    {% if songs.11.spotify.song|length > 0 %}
                        <h5>{{ songs.11.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.11.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.11.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.11.spotify.url|length > 0 %}
                        <a href="{{ songs.11.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.12.spotify.album_image|length > 0 %}
                        {{ songs.12.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.12.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.12.spotify.artist|length > 0 %}
                        <h5>{{ songs.12.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.12.artist }}</h5>
                    {% endif %}

                    {% if songs.12.spotify.song|length > 0 %}
                        <h5>{{ songs.12.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.12.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.12.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.12.spotify.url|length > 0 %}
                        <a href="{{ songs.12.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row (13-16) -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.13.spotify.album_image|length > 0 %}
                        {{ songs.13.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.13.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.13.spotify.artist|length > 0 %}
                        <h5>{{ songs.13.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.13.artist }}</h5>
                    {% endif %}

                    {% if songs.13.spotify.song|length > 0 %}
                        <h5>{{ songs.13.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.13.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.13.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.13.spotify.url|length > 0 %}
                        <a href="{{ songs.13.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.14.spotify.album_image|length > 0 %}
                        {{ songs.14.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.14.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.14.spotify.artist|length > 0 %}
                        <h5>{{ songs.14.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.14.artist }}</h5>
                    {% endif %}

                    {% if songs.14.spotify.song|length > 0 %}
                        <h5>{{ songs.14.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.14.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.14.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.14.spotify.url|length > 0 %}
                        <a href="{{ songs.14.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.15.spotify.album_image|length > 0 %}
                        {{ songs.15.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.15.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.15.spotify.artist|length > 0 %}
                        <h5>{{ songs.15.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.15.artist }}</h5>
                    {% endif %}

                    {% if songs.15.spotify.song|length > 0 %}
                        <h5>{{ songs.15.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.15.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.15.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.15.spotify.url|length > 0 %}
                        <a href="{{ songs.15.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
                <!--<a href="#">-->
                    <img class="img-responsive" src="
                    {% if songs.16.spotify.album_image|length > 0 %}
                        {{ songs.16.spotify.album_image }}
                    {% else %}
                        {% static 'theheat/theheat.jpg' %}
                    {% endif %}" alt="">
                <!--</a>-->
                <p class="timeago-text">{{ songs.16.timeago }}</p>
                <div class="artistsong-text">
                    {% if songs.16.spotify.artist|length > 0 %}
                        <h5>{{ songs.16.spotify.artist }}</h5>
                    {% else %}
                        <h5>{{ songs.16.artist }}</h5>
                    {% endif %}

                    {% if songs.16.spotify.song|length > 0 %}
                        <h5>{{ songs.16.spotify.song }}</h5>
                    {% else %}
                        <h5>{{ songs.16.song }}</h5>
                    {% endif %}
                </div>
                <div class="songicons">
                    <a href="{{ songs.16.ytlink }}" target="new">
                        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a>
                    {% if songs.16.spotify.url|length > 0 %}
                        <a href="{{ songs.16.spotify.url }}" target="new">
                            <i class="fa fa-spotify fa-2x" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination pagination-lg">
                    {% if songs.page == "1" %}
                        <li><a href="/nowplaying/2">Next <i class="fa fa-step-forward" aria-hidden="true"></i></a></li>
                    {% elif songs.page == "99" %}
                        <li><a href="/nowplaying/{{songs.page|add:-1}}"><i class="fa fa-step-backward" aria-hidden="true"></i> Prev</a></li>
                    {% else %}
                        <li><a href="/nowplaying/{{songs.page|add:-1}}"><i class="fa fa-step-backward" aria-hidden="true"></i> Prev</a></li>
                        <li><a href="/nowplaying/{{songs.page|add:1}}">Next <i class="fa fa-step-forward" aria-hidden="true"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; {% now "Y" %} Stefan Gloutnikov</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}